<div class="container">
		<form name="registrationForm" class="col-lg-3 login-form">
			<div class="form-group">
			<input type="name" class="form-control" placeholder="Name" ng-model="loginCtrl.name">
			</div>
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Email" ng-model="registrationCtrl.email">
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Password" ng-model="registrationCtrl.password" required>
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Repeat password" ng-model="registrationCtrl.repeatPassword" required>
			</div>
			<button type="submit" class="btn bkg btn-primary pull-right col-sm-3" ng-click="registrationCtrl.registration()" ng-disabled="registrationForm.$invalid || registrationForm.$pristine || !registrationCtrl.validatePassword()" class="color">
				Submit
			</button>
		</form>
</div>