html
  head
    title= title
    script(src='/javascripts/vendor/hammerjs/hammer.js')
    script(src='/javascripts/vendor/requirejs/require.js', data-main="javascripts/main")
    link(href='stylesheets/style.css', rel='stylesheet')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    base(href='/')
  body(ng-view, class='container', hm-swipeleft="addCtrl.toList()" hm-swiperight="listCtrl.toAdd()")