body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: rgb(80%, 40%, 0%);*/
  background-size: contain;

}

a {
  color: #00B7FF;
}

span.join-us {
	margin-right: 20px;
	margin: 15px;
}

.login-form {
	margin-top: 10em;
}

html body {
	background-color: transparent;
}

@media(max-width: 640px) {
	html {
		background: url(../stylesheets/images/00w.jpg) no-repeat left bottom fixed;
		background-size: cover;
	}

	div.container {
		padding-right: 0px;
		padding-left: 0px;
	}

	form.login-form {
		padding: 0;
		margin: 0;
	}
}

@media(min-width: 640px) {
	html {
		background: url(../stylesheets/images/dog.jpg) no-repeat center center fixed;
		background-size: cover;
	}
}

img {
	max-width: 100%;
}

div.login-container{
	margin-right: 15px;
	margin-left: 15px;
}

